/* Styling for the file list */
.file-list {
    margin-top: 20px;
    padding: 10px;
    background-color: #f0f0f0;
    border: 1px solid #be6767;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.file-list h2 {
    font-size: 18px;
    margin-bottom: 10px;
}


.button-container form {
    display: inline-block;
    margin-right: 10px; /* Adjust the margin as needed to control the distance */
}


ol {
    background: #eedecd;
    padding: 20px;
  }

ol li {
    background:  #fbeee0;
    color:  #422800;
    padding: 3px;
    margin-left: 35px;
    
}

ul {
    list-style: none;
    padding: 0;
}

li {
    font-size: 16px;
    margin-bottom: 5px;
}

a {
    color: #2f4449; 
    text-decoration: none; 
}


a:visited {
    color: purple; 
}


a:hover {
    color: rgb(226, 178, 178); 
}


a:active {
    color: green; 
}

.file-number {
    font-weight: bold;
    margin-right: 5px;
}

#container{
    color: #2f4449;
    font-size:2rem;
    text-align:center;
    cursor: pointer;
    }

h3 {
    color: #2f4449;
    font-size: 2rem;
    text-align: center;
    cursor: pointer;
}  

.chosen-file {
    text-decoration: line-through;
    color: #3c3939; 
}



.button-33 {
  background-color: #fbeee0;
  border-radius: 100px;
  color: black;
  border: 2px solid #422800;
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-33:hover {
  box-shadow: #422800;
  transform: scale(1.05) rotate(-1deg);
}

.button-74 {
  background-color: #fbeee0;
  border: 2px solid #422800;
  border-radius: 30px;
  box-shadow: #422800 1px 1px 0 0;
  color: #422800;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  padding: 0 18px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-74:hover {
  background-color: #fff;
}

.button-74:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}

@media (min-width: 700px) {
  .button-74 {
    min-width: 100px;
    padding: 0 25px;
  }
}
    
