header {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}
h1 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
#logo {
  width: 100px;
}

body {
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
}

form {
  text-align: center;
}

form input {
  max-width: 600px;
  width: 100%;
  height: 38px;
  padding: 0 5px;
  font-size: 18px;
  margin-bottom: 10px;
}
form button {
  padding: 5px 10px;
}

#listOfPresos li {
  margin: 10px 0;
}

/** spinner ***/
.lds-ring {
  display: inline-block;
  position: relative;
  width: 12px;
  height: 12px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 18px;
  height: 18px;

  border: 2px solid #000;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #000 transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
