<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DeckDazzle/1.0</title>
    <link rel="stylesheet" href="static/css/style.css">
</head>

<body>
  
    
    <header>
        <img src="static/gfx/logo.jpg" alt="DeckDazzle Logo" id="logo">
        <h1>DeckDazzle/1.0</h1>
    </header>
    <main>
    
        <!-- a input text field and a submit button sending content to /create-presentation?q= using POST -->
        <form action="create-presentation" method="post">
            <input onkeyup="onFormInput(this)" type="text" name="presentationName" placeholder="Create a PowerPoint deck about anything!">
            <button disabled type="submit">Create</button>
        </form>

        <h2>Presentation History</h2>
        <ul id="listOfPresos">

        </ul>
    </main>
    <script>
        // call /presentations to get json list of presentations and add them to the listOfPresos list
        function updateListOfPresos() {
            fetch("/presentations")
                .then(response => response.json())
                .then(data => {
                    const listOfPresos = document.querySelector("#listOfPresos");
                    // clear the list
                    listOfPresos.innerHTML = "";
                    // update the list
                    data.forEach(preso => {
                        const listItem = document.createElement("li");
                        if ( preso.status == "done" ) {
                            listItem.innerHTML = `<a href="${preso.source_url}">${preso.title}</a>`
                        } else {
                            listItem.innerHTML = `${preso.q} <div class="lds-ring"><div></div><div></div><div></div><div></div></div>`
                        }
                        
                        listOfPresos.appendChild(listItem);
                    });
                });
        }
        updateListOfPresos();
        // update the list of presos every five seconds
        setInterval(updateListOfPresos, 5000);
    </script>

<script src="static/js/script.js"></script>
<script src="static/js/form.js"></script>
</body>